In [ ]:
from rqdatac import *
import pandas as pd
init()
# 使用米筐的本地化API接口来下载数据

In [2]:
start_date = '2017-01-03'
end_date = '2018-01-03'
stocks = index_components('000001.XSHG', date=start_date)

In [7]:
# 将Factor和Price两个数据的获取封装成函数
def get_clean_factor(stocks, column, start_date=None, end_date=None):
    # 获取指定日期范围内的因子数据
    factor = get_factor(stocks, column, start_date=start_date, end_date=end_date)
    
    # 重置索引并按日期和证券代码排序
    factor = factor.reset_index()
    factor = factor.sort_values(['date', 'order_book_id'])
    
    # 设置日期和证券代码为索引，并删除缺失值
    factor = factor.set_index(['date', 'order_book_id']).dropna()
    
    return factor

def get_clean_price(stocks, start_date=None, end_date=None, fields='close'):
    # 获取指定日期范围内的价格数据
    price = get_price(stocks, start_date=start_date, end_date=end_date, fields=fields)
    
    # 重置索引并进行数据透视
    price = price.reset_index()
    price = price.pivot(index='date', columns='order_book_id', values=fields)
    
    return price

In [ ]:
price = get_clean_price(stocks, start_date, end_date)
factor = get_clean_factor(stocks, 'return_on_equity', start_date, end_date)

# 以HDF5来保存数据
current_dir = os.getcwd()
price.to_hdf(file_path, key='price', mode='w')
factor.to_hdf(file_path, key='price', mode='w')

In [ ]:
# 从HDF5文件读取数据并转换为DataFrame对象
price = pd.read_hdf('20170103-20180103-price.h5', key='price')
EPS_factor = pd.read_hdf('20170103-20180103-EPS-factor.h5', key='price')
ROE_factor = pd.read_hdf('20170103-20180103-ROE-factor.h5', key='price')

In [11]:
price

order_book_id,600000.XSHG,600004.XSHG,600005.XSHG,600006.XSHG,600007.XSHG,600008.XSHG,600009.XSHG,600010.XSHG,600011.XSHG,600012.XSHG,...,603986.XSHG,603987.XSHG,603988.XSHG,603989.XSHG,603990.XSHG,603993.XSHG,603996.XSHG,603997.XSHG,603998.XSHG,603999.XSHG
date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,9.7208,9.2767,3.42,6.4453,14.4675,3.2538,25.6115,1.9979,6.1343,12.0810,...,31.5937,14.6285,21.0273,25.6453,17.6756,3.4143,20.0091,11.6995,16.1732,14.3934
2017-01-04,9.7387,9.3416,3.46,6.6129,14.6667,3.2774,25.7461,1.9979,6.1516,12.1843,...,31.5937,14.4791,23.1312,25.7279,17.7364,3.4598,20.3547,11.8182,16.2003,14.6185
2017-01-05,9.7208,9.3156,3.48,6.6222,14.4592,3.2696,25.7845,2.0049,6.1170,12.5162,...,31.5937,14.0174,22.9568,25.0537,17.8485,3.4598,20.6412,11.7766,16.0018,14.4413
2017-01-06,9.6492,9.3156,3.53,6.6967,14.6999,3.2931,25.8518,2.0049,6.1343,12.6711,...,31.5937,13.1556,22.3806,24.7442,16.9716,3.4325,20.6016,11.6402,15.8485,14.5658
2017-01-09,9.6612,9.3935,3.56,6.6874,14.7082,3.3089,25.8422,2.0120,6.1690,12.5678,...,31.5937,13.0984,23.8788,24.8680,16.9332,3.4507,20.6313,11.6758,15.9657,15.0688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-27,9.9121,13.6606,NaN,5.5355,14.3851,4.0622,42.9066,2.3932,5.6445,8.0961,...,58.0728,8.0160,22.2072,26.4052,11.3670,6.0194,19.2861,10.1425,10.1287,7.4288
2017-12-28,9.8493,13.9580,NaN,5.4793,14.4272,4.0781,42.8774,2.4326,5.5815,8.1712,...,58.0728,8.2483,22.6337,26.5810,11.3896,6.4323,19.0767,10.1785,10.1919,7.4288
2017-12-29,9.8886,14.1019,NaN,5.4793,14.4357,4.0860,43.7721,2.4228,5.5545,8.2614,...,58.0728,8.0824,22.5360,27.0242,11.5375,6.3130,18.3687,10.1335,10.1016,7.3999
2018-01-02,9.9907,14.1979,NaN,5.5355,14.4188,4.1337,43.1789,2.4622,5.6445,8.5317,...,58.0728,8.0758,22.2649,26.8765,11.6918,6.3681,18.2390,10.1875,10.0475,7.4961
2018-01-03,9.9435,14.1979,NaN,5.5355,14.3093,4.5471,42.8385,2.4720,5.6895,8.5092,...,58.0728,8.0824,22.7937,27.2985,11.7304,6.4690,18.2390,10.2235,10.1107,7.5154

In [12]:
EPS_factor

                        basic_earnings_per_share
date       asset
2017-01-03 600000.XSHG                    1.8730
           600004.XSHG                    0.9200
           600005.XSHG                    0.0370
           600006.XSHG                    0.1136
           600007.XSHG                    0.5400
...                                          ...
2018-01-03 603993.XSHG                    0.0900
           603996.XSHG                    0.2333
           603997.XSHG                    0.3500
           603998.XSHG                    0.1700
           603999.XSHG                    0.0920

[285798 rows x 1 columns]

In [13]:
ROE_factor

                        return_on_equity
date       asset
2017-01-03 600000.XSHG           12.0543
           600004.XSHG           10.5708
           600005.XSHG            1.2973
           600006.XSHG            3.5213
           600007.XSHG            9.4216
...                                  ...
2018-01-03 603993.XSHG            5.7288
           603996.XSHG            4.9729
           603997.XSHG           13.7182
           603998.XSHG            7.8251
           603999.XSHG            3.2150

[286098 rows x 1 columns]